body{
    background-color: rgb(235, 226, 226);
}

.toast{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    border-left: 5px solid;
    padding: 20px 0px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    max-width: 600px;

}

.toast + .toast{
    margin-top: 25px;
}
.toast__icon{

    font-size: 1rem;

}


.toast__icon, .toast__close{
    padding: 0px 20px;
}

.toast__body{
    display: inline;
}
.toast_title{
    margin: 0;
    

}
.toast__message{

    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: grey
}
.toast__close{
    color: gray;
    display: flex;
    flex-grow: 1;
}

.toast--success{
    border-left: 4px solid hsl(120, 84%, 45%);
}

.toast--error{
    border-left: 4px solid hsl(0, 81%, 55%);
}

.toast--warning{
    border-left: 4px solid hsl(39, 97%, 62%);
}