#box{
    width: 250px;
    height: 250px;
    background-color: tomato;
    font-size: 13rem;
    text-align: center;
    animation: slider 5s;
}

@keyframes slider{
    from{
        transform: translateX(100px);
    }
    to{

        transform: translateY(100px);

    }
    
}